@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@100;400;700&family=Raleway:ital,wght@0,300;0,400;1,600&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Raleway', sans-serif;
*/