@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:wght@100;400;700&family=Raleway:ital,wght@0,300;0,400;1,600&display=swap');

/*
font-family: 'DM Sans', sans-serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/*---------------------------  Intro ------------------------*/

.h-intro{
    display: flex;
    justify-content: end;
}

.bg-wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.h-intro img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.company-name{
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 50px
}

.company-name h1{
    font-size: 5rem;
    margin-bottom: -20px;
}

.company-name p{
    font-size: 30px;
    margin-top: 10px;
}

/*---------------------------  Practices ------------------------*/

.h-practices{
    height: 100vh;
}